*, *::after, *::before {
   box-sizing:border-box;
}

:root {



   --color-neutral-lighter: #e6eef1;
   --color-neutral-light: #43b1b9;
   --color-neutral-mediumer: #b3bdb3;
   --color-neutral-medium: #788578;
   --color-neutral-dark: #304830;

   --color-main-light: #e4fcd1;
   --color-main-medium: #6dd21d;
   --color-main-dark: #234905;

   --color-black:#000;
   --color-white:#fff;



   --header-height:3rem;
}


body {
   margin:0;
   font-size:100%;
   font-family: 'Open Sans', sans-serif;
     background-color: #ffffff;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family:var(--font-serif);
}

h1.help {
    padding: 1.5em;
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
}
h4{
  color:#676666;
}

h5{
  padding-left:2em;
  color:#676666;

}
h6{
  text-align:center;
  color:grey;
  font-weight:300;
  margin-top:0;



}


a {
   color:inherit;
   text-decoration: none;
   font-weight:bold;
}
/*a:hover {
   text-decoration:underline;
}
*/




/* Layout Classes */


.hidden { display:none; }


.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-stretch1 { flex: 0.5 0.5 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

.flex-column { flex-direction:column; }

.overscroll {
   width: 100%;
   height: 100%;
   overflow: auto;
}




/* FORMS */
.form-control {
    margin: 1em 0;
}
.form-label {
    font-size: 0.8em;
    color: var(--color-neutral-medium);
    margin: 0.5rem 0;
}
.ui-mobile label {
   margin:0.5rem 0;
}

/*.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
  }*/

  .form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    border-radius: 2em;
    box-shadow: 2px 3px 3px #bfbfbfd1, inset 3px 3px 3px #b9b9b94d, inset -3px -3px 4px 1px white;
}

.form-input5 {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    font: inherit;
    padding: 0.5em 1em;
    border-radius: 2em;
    margin-bottom: 1em;
    /* margin: 0; */
    outline: 0;
    box-shadow: 2px 3px 3px #bfbfbfd1, inset 3px 3px 3px #b9b9b94d, inset -3px -3px 4px 1px white;
}

.form-button8 {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-light);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    border-radius: 1em;
    text-align: center;
    color: white;
    box-shadow: 3px 2px 3px #909090;
    margin-bottom: 1em;
}
.form-button {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-light);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    text-align: center;
}

.form-button10 {
    display: inline-block;
    width: 44%;
    border-width: 0;
    /* background-color: var(--color-neutral-lighter); */
    font: inherit;
    padding: 0.5em 1em;
    outline: 0;
    border-radius: 0.5em;
    text-align: center;
    margin-top: 1em;
    color: black;
    margin-left: 6em;
    box-shadow: 2px 1px 4px 0px #0d27504d;
}
.form-button3 {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-light);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    text-align: center;
    color:white;
}


.update.form-control {
    color: white;
    border-radius: 0.5em;
}
.form-button1 {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-light);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    border-radius: 0.5em;
    text-align: center;
}

.form-button4 {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: #ffa500;
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    border-radius: 0.5em;
    text-align: center;
    margin-top:1em;
}

.form-button5 {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: grey;
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    border-radius: 0.5em;
    text-align: center;
    margin-top:1em;
}
#signin-form{
    padding-top: 0em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 3em;

}

#signup-form {
  padding-top:0em;
  padding-bottom:1em;
  padding-left:1em;
  padding-right:1em;
}
.signin-alt {
   padding:1em;
   text-align:center;
   font-size:0.8em;
}
/*#recent-page [data-role='main'] {
   background-image:url(../img/map.jpg);
   background-position:center;
   background-size:cover;
}*/

/*#recent-page [data-role='main1'] {
   background-image:url(../img/map.png);
   background-position:center;
   background-size:cover;
}*/
img.locationicon {
    margin: 3em;
    padding:0.3em;
}

img.locationicon2 {
    margin: 5em;
    padding:0.3em;
}

img.locationicon3 {
    margin: 6.5em;
    padding:0.3em;
}

/* PAGE LAYOUTS */

section#signin-page {
    padding-top: 1em;
}

.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}
[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}

[data-role='main1'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}

.ui-footer {
    flex: none;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    background-color: var(--color-neutral-light);
    box-shadow: 0px 0px 0px #00000014, 0px -9px 6px #bfbfbf45;
    color: white;
    overflow: hidden;
    position: relative;
    /* border-top-left-radius: 21px; */
    /* border-top-right-radius: 21px; */
    /* border-bottom-left-radius: 31px; */
}

.ui-header {
    flex: none;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    background-color: var(--color-white);
    /* box-shadow: -1px 2px 3px 1px rgb(0 0 0 / 23%); */
    color: #5f5f5f;
    overflow: hidden;
    padding-bottom: 4em;
    /* margin-bottom: 1em; */
    position: relative;
}

.ui-header1 {
    flex: none;
    height: var(--header-height);
    line-height: var(--header-height);
    border-width: 0;
    /* margin-top: 1em; */
    /* background-color: #43b1b9; */
    box-shadow: -1px 3px 3px 0px rgb(107 107 107 / 13%);
    /* margin-bottom: 1em; */
    padding-bottom: 4em;
    color: #5f5f5f;
    overflow: hidden;
    position: relative;
}

.ui-header .ui-title {
   margin:0;
   padding:0;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   text-align:center;
}







.ui-header ul,
.ui-footer ul {
   position:relative;
   display:flex;
   list-style-type:none;
   margin:0;
   padding:0;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}

/*.ui-footer li:hover{
    text-decoration:underline;
}*/


.ui-header a,
.ui-footer a {
   display:block;
   padding:0 1em;
}

/*homepage*/
.login-failure{
    text-align: center;
    opacity: 0;
    position: relative;
    margin: 0;
}

.login-failure.active{
  opacity: 1;
  color: #ff1414;
}


.welcome{
  text-align:center;
  line-height:1.5em;
  letter-spacing:1.2px;

}

.welcome p{
  /*color:#f89f3a;*/
  font-weight:600;
}

.signin {
  box-shadow: 10px 10px 10px #0d275014;
    border-radius: 15px;

}
.signin a{
  color:white;

}

.signup {
  margin-top:-20px;

}

/*.email{
  box-shadow: 10px 10px 10px #0d275014;
    border-radius: 10px;
}*/

/*list page*/
section#list-page .listul ul {
    list-style-type: none;
    padding-inline-start: 0;
    /* padding: 2em; */
}

.btn-circle1 {
    background-color: #f0f0f1;
    line-height: 2rem;
    width: 2rem;
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0px 1px 6px 0 rgba(255, 255, 255, 0.7), 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
}

.btn-circle7 {
    display: absolute;
    background-color: #f0f0f1;
    line-height: 2rem;
    /* margin-top: -5.5em; */
    margin-right: 0em;
    width: 2rem;
    display: inline-block;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px #0d275038, -1px -2px 8px 1px #ffffff, inset 0px 0px 5px #0d275005;
    font-size: 1.5em;
}

.btn-circle {
    background-color: #f0f0f1;
    line-height: 2rem;
    margin-top: 0.5em;
    margin-right: 1em;
    /* width: 2rem; */
    display: inline-block;
    text-align: center;
    border-radius: 1rem;
    box-shadow: -5px -7px 6px 0 rgba(255, 255, 255, 0.7), 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
}

section#list-page .listul li {
    /* padding: 1em; */
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0;
    /* width: 80%; */
    /* text-align: center; */
    padding-bottom: 2em;
    /* border: 1px solid #b4d6da; */
    background-color: #f5efe8;
    box-shadow: 6px 5px 6px #00000014, -10px -10px 10px #f2eae3;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}


section#list-page .listul li a{
    font-weight:200;
}

/*li.brownbunny:before{
     content:url(../img/brownbunny.png);
} 
*/

/*section#list-page .listul li.brownbunny{
  list-style-image:url(../img/brownbunny.png);
  list-style-position:inside;
}*/


.animallist {
   padding:1em;
   margin-top: 2em;
}
.animallist-image img {
    margin-left: 2em;
    width: 66px;
    height: 66px;
    object-fit: cover;
    /* margin-bottom: 0em; */
    vertical-align: text-bottom;
    border-radius: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 5px solid #dadee4;
    box-shadow: 3px 5px 7px #0d275033, -7px -6px 10px 0px #ffffff;
    /* box-shadow: 0px 0px 5px 4px #f6f7f8; */
}

.animallist-item {
    display: flex;
    background-color: #f5f5f5;
    margin: 1em 2em;
    border-radius: 0.5em;
    box-shadow: inset -3px -2px 4px #0d27501f, -4px -5px 7px #ffffffbf, 1px 2px 4px #0d275008;
    overflow: hidden;
}

.animallist-item:first-child {
   margin-top:0;
}
.animallist-description {
   padding-left:2em;
   padding-top:1em;
   padding-bottom:0.5em;
}
.animallist-type,
.animallist-breed {

   font-size:0.6em;
   font-weight:400;
   color:grey;

}
.animallist-name {
    padding-bottom: 0.5em;
    font-size: 1em;
    font-weight: 700;
    /* padding-top: 1em; */
    /* padding-left: 0.5em; */
    /* margin-bottom: 1em; */
    /*text-transform: uppercase;
*/    color: #43b1b9;
    /* box-shadow: 1px 2px black; */
}

.animal-profile-image {
    display: block;
    /* margin-top: 1em; */
    margin-left: 8em;
    padding-top: 2em;
    /* margin-top: 2em; */
}
.animal-profile-image img {
    height: 30vw;
    width: 30vw;
    border-radius: 65px;
}


.animal-profile-body {
    display: block;
    /* margin-left: 7em; */
    margin-top: 1em;
}
.animal-profile-name {
    padding-bottom: 0.5em;
    /* margin-left: 3.7em; */
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: var(--color-neutral-light);
}

.filter-list {
    display: flex;
    overflow: auto;
}
.filter {
    padding: 0px 0.5em;
    font-weight: bold;
    font-size: 14px;
    margin-left: 1.5em;
    margin-top: 1em;
}

.bbunny{
  display:inline-block;
  height:4em;
  width:4em;
  margin-left:0px;
  padding-left:0px;
}



img.bbunny {
    margin-right: 1em;
    margin-bottom: -2em;
    /* float: left; */
}
/*jellycatprofilepage*/
form#jellycat-form {
    padding-left: 3em;
    padding-right: 3em;
}


input.form-button1{
    color: white;
  
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-light);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    text-align: center;

}
/*input#animal-edit-color {
    width: 80%;
    margin-left: 2em;
}*/

textarea#animal-edit-description {
    width: 80%;
    margin-left: 2em;
    border-radius: 1em;
    box-shadow: 3px 4px 5px #0d275038, inset -2px -2px 4px 0px #ffffff, inset 7px 4px 3px 0px #0d275012;
    height: 200px;
    line-height: 1.5em;
    padding-top: 1em;
}

textarea#location-add-description {
    width: 80%;
    margin-left: 2em;
    border-radius: 1em;
    box-shadow: 3px 4px 5px #0d275038, inset -2px -2px 4px 0px #ffffff, inset 7px 4px 3px 0px #0d275012;
    height: 200px;
    line-height: 1.5em;
    padding-top: 1em;
}


textarea#animal-add-description {
    width: 80%;
    margin-left: 2em;
    border-radius: 1em;
    box-shadow: 3px 4px 5px #0d275038, inset -2px -2px 4px 0px #ffffff, inset 7px 4px 3px 0px #0d275012;
    height: 200px;
    line-height: 1.5em;
    padding-top: 1em;
}
.delet.botton {
    color: var(--color-white);
    display: block;
    /* width: 39%; */
    border-width: 0;
    background-color: white;
    background-color: #c13737;
    /* border: 2px solid #e06a6ad9; */
    font: inherit;
    border-radius: 7px;
    padding: 0.5em 0.5em;
    margin-top: 3em;
    /* margin-left: 8em; */
    margin-left: 6em;
    margin-bottom: 2em;
    margin-right: 6em;
    /* margin: 0; */
    outline: 0;
    text-align: center;
    box-shadow: 4px 2px 6px #bbbabaad, -3px -3px 1px 1px #ffffff;
}
/*profile page*/
.profile li {
    list-style-type: none;
    padding-top: 1em;
    padding-bottom:1em;
    padding-left: 2em;
    border-bottom: 1px solid #dadada73;
    /* margin-right: 3em; */
}

.profile li a{
  font-weight:400;
}



ul.profile {
    padding: 0;
    margin: 0;
    background-color: white;
}

.profile2 li {
    list-style-type: none;
    padding: 1em;
    padding-left: 4em;
    border-bottom: 1px solid #dadada73;
    margin-right: 0;
    margin-left: 0;
    color: #908e8e;
    font-weight: 400;
    font-size: 12px;
}


/*.profile-image {
    background-image: linear-gradient(to right, #3ccdd8 , #02b3e8);
    height: 86vw;
}*/
/*.profile-image>img {
    border-radius: 6em;
    height: 30vw;
    width: 30vw;
    margin-left: 9em;
    margin-top: 4em;
}
*/

.profile-image {
   position:relative;
/*   background-image: linear-gradient(to right, #3ccdd8 , #02b3e8);
  height: 86vw;*/
}

/*.profile-image img {
    border-radius: 6em;
    height: 30vw;
    width: 30vw;
    margin-left: 9em;
    margin-top: 4em;
}
*/

.profile-image>img {
    border-radius: 50%;
    width: calc(100vw - 15em);
    height: calc(100vw - 15em);
    object-fit: cover;
    margin-left: 7em;
    margin-right: 8em;
    margin-top: 3em;
    margin-bottom: 2em;
    border: 18px var(--color-neutral-light) solid;
    box-shadow: 3px 4px 6px #bbbaba7a, -5px -5px 4px 0px #ffffff;
}

.profile-image1>img {
    border-radius: 50%;
    width: calc(100vw - 10em);
    height: calc(100vw - 10em);
    object-fit: cover;
    margin-left: 5em;
    /* margin-right: 6em; */
    margin-top: 5em;
    margin-bottom: 3em;
    border: 18px var(--color-neutral-light) solid;
    box-shadow: 3px 4px 6px #bbbaba7a, -5px -5px 4px 0px #ffffff;
}
.profile-name {
    text-align: center;
    /* margin-top: 1em; */
    /* color: white; */
    font-weight: 600;
    font-size: 22px;
    /* text-transform: uppercase; */
    color: #838383;
}

.profile-body {
   padding:1em;
}

.profile-email {
    text-align: center;
    margin-top: 1em;
    /* color: white; */
    font-weight: 400;
    font-size: 13px;
    opacity: 50%;
}
/*.profile a:not([href='#'])::after {
   content:'>';
   position:absolute;
   top:50%;
   right:1em;
   transform:translateY(-50%);
}*/


p.setting-text {
    text-align: center;
   /* margin-top: -1em;*/
}

.settings-item a {
    display: block;
    padding: 0.5em 1em;
    border-bottom: 1px solid #dadada73;
    position: relative;
    font-weight: 400;
    color: #676767;
    background-color: var(--color-neutral-lighter);
    border-radius: 2em;
    box-shadow: 2px 3px 3px #bfbfbfd1, inset 3px 3px 3px #b9b9b94d, inset -3px -3px 4px 1px white;
}

ul.profile2 {
/*    margin-right: 1.5em;*/
    background-color: white;
   /* margin-left: 1.5em;*/
    padding-left: 0;
   /* border-radius: 0.5em;*/
    box-shadow: 2px 2px 2px 0px #7979791a;
}

/* MODALS */
.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index:10;
  /*  margin-top: 16em;*/
}
.modal.active {
   opacity:1;
}
.modal-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
}


/* MODAL POPUP*/
.modal-popup {
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,calc(-50% + 3em));
   transition: all 0.3s;
   width:80vw;
}
.modal-body {
    background-color: var(--color-white);
    padding: 1em;
}
.modal-head{
    background-color: #fff;
    padding: 1em 1em;
    color: #a2a2a2;
    font-weight: 600;
    text-align: center;
    border-radius: -1em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

  .modal-foot {
    background-color: var(--color-neutral-light);
    padding: 0.5em 1em;
    color: white;
    font-weight: 600;
    text-align: center;
}


.modal.active .modal-back,
.modal.active .modal-popup {
    pointer-events: initial;
}
.modal.active .modal-popup {
   transform:translate(-50%,-50%);
}


/* MODAL DRAWER */
.modal-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition:all 0.3s;

}

.modal-drawer.left,
.modal-drawer.right {
   height:100%;
   width:70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top, .modal-drawer.bottom {
    height: 37vh;
    width: 100%;
}

.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom {
    bottom: 0px;
    transform: translateY(100%);
}

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;
}


.modal-drawer .modal-body {
   flex: 1 1 100%;
}



.modal-foot input {
   display:block;
   width:100%;
   text-align:right;
   border-width:0;
   font-weight:bold;
   background-color:transparent;
   outline:0;
}

/* MODAL TOAST */
.modal-toast {
    position: absolute;
    color: white;
    width: 60%;
    background-color: #43b1b9;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    border-radius: 0.2em;
    padding: 0.5em;
    text-align: center;
    left: 50%;
    transition: all 0.3s;
}

.modal-toast.top {
   top:1em;
   transform: translate(-50%,-1em);
}
.modal-toast.bottom {
   bottom:1em;
   transform: translate(-50%,1em);
}
.modal.active .modal-toast {
   transform: translate(-50%,0);
   pointer-events: initial;
}

.modal-close-floater {
    position: absolute;
}
.modal-close-floater.right {
    right: 1em;
}
.modal-close-floater.top {
    top: -1em;
    transform: translateY(-100%);
}



/* FLOATER */
.floater { position:absolute; }
.floater.right { right:1em; }
.floater.left { left:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:1em; }


.nav-icon img {
   width:1em;
   height:1em;
   vertical-align: text-bottom;
}
.nav-icon {
   line-height:calc(var(--header-height) * 0.6);
   font-size:1.5em;
}
.nav-label {
   line-height:calc(var(--header-height) * 0.4);
   font-size:0.7em;
  /* color:black;*/
}


/*grid*/
.grid.gap {
    grid-gap: var(--gap-size);
    gap: var(--gap-size);
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* --gap-size: 1em; */
}
.bunnylist {
    margin: 1em 0;
}

.bunnycol {
    grid-column: span 6;
}
.bunny-figure {
    /* border-radius: 0.5em; */
    overflow: hidden;
    box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 5%);
    margin: 1.5em;
    height: 100%;
    background-color: #ffffff7a;
}

.bunny-image {
    position: relative;

}
.bunny-figure img {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    vertical-align: text-bottom;
}

.bunny-photo{
  position:relative;
}

label.bunnyname {
    font-weight: 400;
    font-size: 12px;
    padding-left: 4em;
    display: inline-block;
}
label.bunnyname2 {
    font-weight: 400;
    font-size: 14px;
    padding-left: 5em;
    display: inline-block;
}

label.bunnyname3 {
    font-weight: 400;
    font-size: 14px;
    /* padding-left: 5em; */
    /* display: inline-block; */
    margin-left: 2em;
    margin-bottom: 0;
}

input#bunnyprofilename {
    margin-left: 1em;
    background-color: #ffffff80;
    border: 0.5px solid #efefef;
    padding: 1em;
    border-radius: 0.5em;
    /* box-shadow: 2px 2px 4px 0px #7373731f; */
}

input#bunnyprofilename2 {
    margin-left: 4em;
    background-color: #ffffff80;
    border: 0.5px solid #efefef;
    padding: 1em;
    border-radius: 0.5em;
    /* box-shadow: 2px 2px 4px 0px #7373731f; */
    margin-top: 1em;
}




.settings-list {
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

.settings-item a {
   display:block;
   padding:0.5em 1em;
   border-bottom:1px solid #dadada73;
   position:relative;
   font-weight:400;
   color: #676767;

}

li.settings-item {
    background-color: #ffffffa8;
    margin: 1em;
    border-radius: 0.5em;
}
.settings-item a:not([href='#'])::after {
   content:'>';
   position:absolute;
   top:50%;
   right:1em;
   transform:translateY(-50%);
}

.map {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


.animal-top {
    flex: none;
    position: relative;
    height: 22vh;
}

.animal-bottom {
    flex: 1 1 100%;
    position: relative;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    background-color: var(--color-white);
    box-shadow: 0px -20px 14px 4px #94949459;
}



.icon {
   width:1.5em;
   height:1.5em;
   vertical-align: middle;
}

.icon1 {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /* padding-right: 2em; */
    margin-right: 2em;
    margin-bottom: 0.2em;
}
.icon11 {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /* padding-top: 0.2em; */
    margin-top: 0.2em;
}
.icon10 {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-right: 8em;
    margin-bottom: 2em;
}

.icon12 {
    width: 1.5em;
    height: 1.5em;
    /* vertical-align: middle; */
    margin-right: 9em;
    margin-bottom: 38em;
}
.icon_save {
   width:2.5em;
   height:2.5em;
   vertical-align: middle;
}


input#animal-edit-name {
    width: 80%;
    margin-left: 2em;
    border-radius: 1em;
    padding-left: 2em;
    box-shadow: 3px 4px 5px #0d275038, inset -2px -2px 4px 0px #ffffff, inset 7px 4px 3px 0px #0d275012;

}

input#animal-add-name {
   width: 80%;
    margin-left: 2em;
    border-radius: 1em;
    padding-left: 2em;
    box-shadow: 3px 4px 5px #0d275038, inset -2px -2px 4px 0px #ffffff, inset 7px 4px 3px 0px #0d275012;

}

input#animal-add-type {
   width: 80%;
    margin-left: 2em;
    border-radius: 1em;
    padding-left: 2em;
    box-shadow: 3px 4px 5px #0d275038, inset -2px -2px 4px 0px #ffffff, inset 7px 4px 3px 0px #0d275012;

}

input#animal-add-color {
   width: 80%;
    margin-left: 2em;
    border-radius: 1em;
    padding-left: 2em;
    box-shadow: 3px 4px 5px #0d275038, inset -2px -2px 4px 0px #ffffff, inset 7px 4px 3px 0px #0d275012;

}




label.form-label {
    margin-left: 2em;
}

input#animal-edit-type {
    width: 80%;
    margin-left: 2em;
    border-radius: 1em;
    padding-left: 2em;
    box-shadow: 3px 4px 5px #0d275038, inset -2px -2px 4px 0px #ffffff, inset 7px 4px 3px 0px #0d275012;

}

input#animal-edit-color {
    width: 80%;
    margin-left: 2em;
    border-radius: 1em;
    padding-left: 2em;
    box-shadow: 3px 4px 5px #0d275038, inset -2px -2px 4px 0px #ffffff, inset 7px 4px 3px 0px #0d275012;
}


img.animalpopup {
    border-radius: 4em;
    /* padding-left: inherit; */
    margin-left: 1em;
}

.animalpopupprofile-name {
    padding-top: -0.5em;
    padding-bottom: 0em;
    font-weight: 800;
    font-size: 20px;
    color: #43b1b9;
}

.animalpopupprofile-type {
    padding-bottom: 0.2em;
    padding-top: 1em;
    /* padding-left: 1em; */
    margin-left: 1em;
    color: grey;
    font-size: 12px;

    border-bottom: 1px solid grey;
}
.animalpopupprofile-color {
    padding-bottom: 0.2em;
    padding-top: 0.5em;
    padding-right: 9em;
    margin-left: 1em;
    color: grey;
    font-size: 12px;
    border-bottom: 1px solid grey;
}

.animal-profile-description {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
    /* border-top: 1px solid grey; */
    box-shadow: inset 3px 3px 4px #b3b3b345;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    background-color: #31767b0f;
    padding-bottom: 1em;
    color: var(--color-neutral-light);
    font-weight: 600;
}

.animal-profile-type {
    color: grey;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-size: 16px;
    border-bottom: 1px solid #cacaca;
    margin-left: 2em;
    margin-right: 2em;
}

.animal-profile-breed {
    color: grey;
    font-size: 16px;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: 1px solid #cacaca;
}
section#list-page {
    background-color: #43b1b90f;
}

.ui-header2 a{
    display: block;
    padding:0;
    /* padding: 0 1em; */
}
.btn-circle-icon {
    background-color: #f0f0f1;
    line-height: 2rem;
    margin-top: 0.7em;
    margin-left: 1em;
    margin-right: 1em;
    width: 2rem;
    padding: 0em;
    /* display: inline-block; */
    text-align: center;
    border-radius: 1rem;
    /* box-shadow: 3px 3px 5px #0d275038, -1px -2px 8px 1px #ffffff, inset 0px 0px 5px #0d275005; */
    box-shadow: -5px -7px 6px 0 rgba(255, 255, 255, 0.7), 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    /* font-size: 1.5em; */
}

.btn-circle-addlo {
    background-color: #f0f0f1;
    line-height: 2rem;
    width: 14rem;
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0px 1px 6px 0 rgba(255, 255, 255, 0.7), 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    /* font-size: 1.5em; */
    color: var(--color-neutral-light);
    margin-left: 5em;
    margin-bottom: 2em;
    margin-top: 1em;

}

.btn-circle-icon1 {
    background-color: #f0f0f1;
    line-height: 1rem;
    margin-top: 1.7em;
    margin-left: 1em;
    margin-bottom: 1em;
    /* margin-right: 1em; */
    width: 3rem;
    height: 2rem;
    /* padding: 1em; */
    /* display: inline-block; */
    text-align: center;
    border-radius: 1rem;
    /* box-shadow: 3px 3px 5px #0d275038, -1px -2px 8px 1px #ffffff, inset 0px 0px 5px #0d275005; */
    box-shadow: -5px -7px 6px 0 rgba(255, 255, 255, 0.7), 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    /* font-size: 1.5em; */
    padding-top: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
}

.btn-circle-icon2 {
    background-color: #f0f0f1;
    line-height: 1rem;
    margin-top: 1.7em;
    margin-left: 1em;
    margin-bottom: 1em;
    /* margin-right: 1em; */
    width: 7rem;
    height: 2rem;
    /* padding: 1em; */
    /* display: inline-block; */
    text-align: center;
    border-radius: 1rem;
    /* box-shadow: 3px 3px 5px #0d275038, -1px -2px 8px 1px #ffffff, inset 0px 0px 5px #0d275005; */
    box-shadow: -5px -7px 6px 0 rgba(255, 255, 255, 0.7), 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    /* font-size: 1.5em; */
    padding-top: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
}


.btn-circle-icon1:hover {
    background-color:#43b1b9;
    color:white;
}
.btn-circle-icon2:hover {
    background-color:#43b1b9;
    color:white;
}
.icon5 {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.icon-plus {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
    /* border: 11px solid #d02b2b; */
    /* box-shadow: 0px 0px black; */
}

.hotdog {
    /* width: 66%; */
    background-color: #dedede;
    padding: 0 1em;
    border-radius: 1em;
    margin-left: 1em;
    line-height: 0.5;
    display: inline-flex;
    margin-top: 0.7em;
}
.hotdog input {
   background-color:transparent;
   border-width:0;
   font:inherit;
   color:inherit;
   border-radius:0;
   padding:0;
   margin:0;
   width:100%;
   flex:1;
   outline:0;
}
.ui-header .hotdog {
    height: calc(var(--header-height) - 1em);
    vertical-align: middle;
}

.list-search {
   padding:0.2em 0.5em;
   display: flex;
   align-items: center;
}



.image-uploader.full {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;

   background-size:contain;
   background-repeat:no-repeat;
}
/*.ui-mobile label.image-uploader {
   margin:0;
}*/
.image-uploader input {
   display:none;
}

.image-uploader.thumbnail {
    width: 7em;
    height: 7em;
    margin-left: 7em;
    border-radius: 4.5em;
    background-position: center;
    background-size: cover;
    position: relative;
}

.image-uploader.thumbnail:not(.picked){
  border:2px solid var(--color-neutral-light);
}
/* This will add the floating plus symbol to the imagepicker */
.image-uploader.thumbnail:before {
  color:black;
  content:'+';
  position:absolute;
  font-size:3em;
  vertical-align:middle;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
/* This will hide the plus symbol behind the background of the imagepicker if the class "picked" is added to the element */
.image-uploader.thumbnail.picked:before {
  z-index:-1;
}





/*.animallist-item {
    display: flex;
    background-color: #f5f5f5;
    margin: 1em 2em;
    border-radius: 0.5em;
    box-shadow: inset -3px -2px 4px #0d27501f, -4px -5px 7px #ffffffbf, 1px 2px 4px #0d275008;
    overflow: hidden;
}*/

